$black: #000000;
$white: #ffffff;
$white_grey: #fbf1f1;
//$dark_green: #26905c;
//$light_green: #65bb9b;
//$dark_dark_green: #02633f;
$dark_green: #760c0c;
$light_green: #dc8181;
$dark_dark_green: #760c0c;
