.InfoList {
  margin-bottom: 30px;
  margin-top: 15px; }
  .InfoList-List {
    margin-left: 10px; }
  .InfoList-Item {
    margin: 15px 0; }
  .InfoList-Link {
    color: #760c0c; }
  .InfoList-Icon {
    color: #760c0c;
    margin-right: 7px; }

@media screen and (max-width: 360px) {
  .InfoList-Link {
    font-size: .95rem; } }
